EXPO_PUBLIC_STORE_SECRET_KEY=
EXPO_PUBLIC_STORE_PUBLIC_KEY=
EXPO_PUBLIC_PHPC_ISSUER=
EXPO_PUBLIC_USDC_ISSUER=
EXPO_PUBLIC_STELLAR_NETWORK=testnet
EXPO_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
